// -------------------------------------------------------------------
// Containers
// -------------------------------------------------------------------

$container                 : $max-width;
$container-mobile_only     : max-width $max-width - $one-pixel;
$container-narrow          : 60em; // 960px
$container-super-narrow    : 45em; // 720px

// -------------------------------------------------------------------

@mixin container {
  @include outer-container;
  padding-left: $base_line_height;
  padding-right: $base_line_height;

  @include media($container+$base_line_height*2) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Class versions
.container { @include container; }

// -------------------------------------------------------------------
// Full Bleed
//
// Let the container span edge-to-edge.
// -------------------------------------------------------------------

@mixin fullbleed($gutter: 3em) {
  max-width: none;
  width: -webkit-calc(100% + #{$gutter});
  width: calc(100% + #{$gutter});
  margin-left: -($gutter/2)!important;
}

.fullbleed {
  @include media($container-mobile_only) {
    @include fullbleed;
  }
}
