<p>For volunteer, sponsorship or media inquiries, email <a href="mailto:kristine@fth.estate">Kristine@fth.estate</a>.</p>

<div class="social">
  <a href="http://fthestate.tumblr.com" target="blank"><img src="assets/img/tumblr.svg"></a>
  <a href="http://instagram.com/fthestate" target="blank"><img src="assets/img/instagram.svg"></a>
  <a href="http://twitter.com/fthestate" target="blank"><img src="assets/img/twitter.svg"></a>
  <a href="https://www.facebook.com/pages/Fth-Estate/613877088682769" target="blank"><img src="assets/img/facebook.svg"></a>
</div>

<p class="copyright">© {{now "%Y"}} | {{site.name}}</p>
