// -------------------------------------------------------------------
// Typekit Fonts
// -------------------------------------------------------------------

$brandon_grotesque: "brandon-grotesque", $helvetica;
$brandon_grotesque_regular: 400;
$brandon_grotesque_bold: 700;

// -------------------------------------------------------------------

// Brandon Grotesque
// =================

%brandon_grotesque {
  font-family: $brandon_grotesque;
}

  @mixin brandon_grotesque_regular {
    @extend %brandon_grotesque;
    font-weight: $brandon_grotesque_regular;
  }

  @mixin brandon_grotesque_bold {
    @extend %brandon_grotesque;
    font-weight: $brandon_grotesque_bold;
  }
